@import "wordpress_specific";
@import "typography";

body {
    line-height: 1.4em;
    padding: 2%;
    text-color: #444;
}

#page {
    margin: auto;
}

article { 
    margin: 1em 0em 1em 0em; 
}

header#branding {
    margin-top: 3em;    
}

nav#access {
    position: absolute;
    z-index: 0;
    top: 0px;
    left: 0px;
    width: 100%;
    border-bottom: 1px solid #AAAAAA;
    background: #F8F8F8;

    ul {
        text-align:center;
        li {
            display: inline;
            margin: 1em 3% 1em 3%;
            @include title_font;
        }
    }
}

#nav-below {
    .nav-previous {
        float: left;
        width: 50%;
    }

    .nav-next {
        text-align: right;
    }
}

cite {
    width: 100%;
    text-align: right;
}

/* Added this to prevent images from going out of the paragraph. 
 * http://css-tricks.com/795-all-about-floats/
 */
.entry-content {
    overflow: hidden;
}

::-moz-selection { background: #26c41a; color: #fff; text-shadow: none; }
::selection { background: #26c41a; color: #fff; text-shadow: none; }

input[type="text"] {
    border: 1px solid #DDD;
    background: #FAFAFA;
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
    padding: 2px 0px 2px 0px;
    border-radius: 2px;
    line-height: 1.5em;
    background: #FFF;
}

input[type="submit"] {
    @include text_font;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1em;
    color: #777;
    border: 1px solid #CCC;
    background: #EEE;
    border-radius: 2px;
    padding: 2px 7px 2px 7px;
    line-height: 1.5em;
}
