@import "wordpress_specific";
@import "typography";

body {
    line-height: 1.4em;
    padding: 2%;
    text-color: #444;
}

#page {
    margin: auto;
}

article { 
    margin: 1em 0em 1em 0em; 
}

header#branding {
    margin-top: 3em;    
}

nav#access {
    position: absolute;
    z-index: 0;
    top: 0px;
    left: 0px;
    width: 100%;
    border-bottom: 1px solid #AAAAAA;
    background: #F8F8F8;

    ul {
        text-align:center;
        li {
            display: inline;
            margin: 1em 3% 1em 3%;
            @include title_font;
        }
    }
}

cite {
    text-align: right;
    width: 100%;
}

#nav-below {
    .nav-previous {
        float: left;
        width: 50%;
    }

    .nav-next {
        text-align: right;
    }
}

.entry-content {
    overflow: hidden;
}

::-moz-selection { background: #26c41a; color: #fff; text-shadow: none; }
::selection { background: #26c41a; color: #fff; text-shadow: none; }
