@mixin text_font {
    font-family: museo-sans, Helmet, Freesans, sans-serif; 
    font-weight: 300;
    font-size: 0.875em;
}

@mixin title_font {
    font-family: anivers-sc, Helmet, Freesans, sans-serif;
    text-transform: uppercase;
    font-weight: normal;
}

body {
    @include text_font;
}

h1, h2, h3, h4, h5, h6 {
    @include title_font;
}

h1 { 
    font-size: 2.2em; 
}

h2 { 
    font-size: 1.5em;
}

h3 { 
    font-size: 1.3em;
}

h4 { 
    font-size: 1.2em;
}

a {
    color: #4D74F3;
    text-decoration: none;
    &:active, &:visited {
        color: #4D74F3;
    }
    &:hover {
        text-decoration: underline;
        color: #2A459C;
    }
}

header a:hover { 
    text-decoration: none; 
}

p {
    margin-top: 0.6em;
    margin-bottom: 0.6em;
}

#site-title a {
    color: #646464;
    &:active, &:visited {
        text-color: #555;
    }
    &:hover {
        color: #333;
        text-decoration: none;
    }
}

time { 
    font-size: 0.75em;
    font-weight: 700;
    text-transform: uppercase;
    color: #CDCDCD;
}

hr {
    border-top: 1px solid #EEE;
}
